body {
  margin: 0;
  background-color: #5d60f3;
  font-size: 32px;

}

.center {
  margin: auto;
  width: 50%;
}

@media (max-width: 650px) {
  .sideBarContainer {
    width: 90vw;
    position: fixed;
    z-index: 100;
  }
  body {
    font-size: 16px;
  }

  .messageContainer {
    margin: 0;
    width: 95vw !important;

  }
}