
.header {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}


.header h2 {
    background-color: rgb(180, 226, 43);
    margin: 10px;
}

.prevMessage {
    background-color: blueviolet;
    height: 100%;
    margin: 10%;
    margin-top: 0;
}