.main {
    display: flex;
}

.messageBox {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    width: 60%;
    height: 60px;
    margin: 7%;
    margin-bottom: 1%;
    position: fixed;
    bottom: 30px;
    border: none;
}

.messageBox input {
    width:100%;
    height: 100%;
    border-radius: 25px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border: none;
    padding-left: 15px;
}

.sendButton {
    width: 50px;
    height: 50px;
    /* margin: 4px; */
    margin-left: 10px;
    cursor: pointer;
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
}