
.header {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}


.header h2 {
    background-color: rgb(180, 226, 43);
    margin: 10px;
}

.messageContainer {
    background-color: aliceblue;
    height: 70vh;
    width: 70vw;
    margin-left: 4%;
    border-radius: 25px;
    overflow-y: scroll;
}


.query {
    position: relative;
    /* bottom: 0px; */
    right: 0;
}

.query img {
    height: 40px;
    width: 40px;
}