.navbar {
    background-color: rgb(2, 2, 31);
    color: bisque;
    height: 6vh;
    padding: 3vh;
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.chat-button {
    background-color: rgb(0, 255, 157);
    border-radius: 25px;
    height: 30px;
}

.brand {
    font-size: 50px;
}