.navbar {
    display: flex;
    background-color: #03045e;
    color: bisque;
    min-height: fit-content;
    padding: 0.4vh;
    border: none;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    align-items: center;
}

.hamburgerMenu {
    height: 60%;
    margin: 15px;
    margin-bottom: 0;
}

.brand {
    font-size: 50px;
}

